data/
.DS_Store
notebooks/news_kw_preprocessing_2.ipynb
notebooks/news_kw_preprocessing.ipynb
notebooks/news_kw_extraction.ipynb
model/keyword_extractor/2023-11-13T15:13:03_checkpoint.pth.tar
model/keyword_extractor/2023-11-13T09:23:23_checkpoint.pth.tar
